/* Write your styles */
.body{
	padding: 40px;
	text-align: center;
	background: url('../i/back.png') no-repeat;
	min-height: 100%;
}

#upload-out{
	display: inline-block;
	margin-top: 20%;
}

#upload{
	width: 500px;
}

.hidden{
	display: none !important;
}