@font-face {
	font-family: 'Roboto-Thin';
	src:url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src:url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.main-text{
	opacity: 0.87;
}

.sub-text{
	opacity: 0.54;	
}