<!DOCTYPE>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Insight</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="static/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="static/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="static/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="static/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="static/css/amazeui.flat.css">
  <link rel="stylesheet" href="static/css/header.css">
  <link rel="stylesheet" href="static/css/footer.css">
  <link rel="stylesheet" href="static/css/inf.css">
  <link rel="stylesheet" href="static/css/nav.css">
</head>
<body>
	<div id="wrapper" class="wrapper">
		<div id="tab1" class="tab tab-show">
			<div class="title">
				<div class="title-text main-text">头</div>
				<div class="title-des sub-text">记录头信息和偏移</div>
			</div>
			<div class="container">
				<table class="am-table">
					<tr>
						<th>attr</th>
						<th>value</th>
					</tr>
					{% for k,v in header.items() %}
					<tr>
						<td>{{ k }}</td>
						<td>{{ v }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% include "footer.html" %}
		</div>
		<div id="tab2" class="tab">
			<div class="title">
				<div class="title-text main-text">区段头表</div>
				<div class="title-des sub-text">描述程序数据组织情况</div>
			</div>
			<div class="container">
				<table class="am-table">
					<tr>
						<th>name</th>
						<th>type</th>	
						<th>flags</th>
						<th>addr</th>
						<th>offset</th>
						<th>size</th>
						<th>link</th>
						<th>info</th>
						<th>addralign</th>
						<th>entsize</th>
					</tr>
					{% for d in sections %}
					<tr>
						<td>{{ d.name }}</td>
						<td>{{ d.type }}</td>
						<td>{{ d.flags }}</td>
						<td>{{ d.addr }}</td>
						<td>{{ d.offset }}</td>
						<td>{{ d.size }}</td>
						<td>{{ d.link }}</td>
						<td>{{ d.info }}</td>
						<td>{{ d.addralign }}</td>
						<td>{{ d.entsize }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% include "footer.html" %}
		</div>
		<div id="tab3" class="tab">
			<div class="title">
				<div class="title-text main-text">程序头表</div>
				<div class="title-des sub-text">描述程序运行内存情况</div>
			</div>
			<div class="container">
				<table class="am-table">
					<tr>
						<th>type</th>
						<th>offset</th>	
						<th>vaddr</th>
						<th>paddr</th>	
						<th>filesz</th>
						<th>memsz</th>	
						<th>flags</th>
						<th>align</th>								
					</tr>
					{% for d in programs %}
					<tr>
						<td>{{ d.type }}</td>
						<td>{{ d.offset }}</td>
						<td>{{ d.vaddr }}</td>
						<td>{{ d.paddr }}</td>
						<td>{{ d.filesz }}</td>
						<td>{{ d.memsz }}</td>
						<td>{{ d.flags }}</td>
						<td>{{ d.align }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% include "footer.html" %}
		</div>
		<div id="tab4" class="tab">
			<div class="title">
				<div class="title-text main-text">动态跟踪</div>
				<div class="title-des sub-text">动态跟踪程序流程</div>
			</div>
			<div id="terminator" class="termin-hidden">
				<div id="state" class="start"></div>
				<div class="input-text"><input></input></div>
			</div>
			<div id="termin-toggle"></div>
			<div class="container">
				<ul class="times">
				</ul>
			</div>
			{% include "footer.html" %}
		</div>
		<div id="tab5" class="tab">
			<div class="title">
				<div class="title-text main-text">动态跟踪设定</div>
				<div class="title-des sub-text">设置要跟踪的函数及参数</div>
			</div>
			<div class="container">
				<div class="container-title">系统监控函数</div>
				<div class="clearfix apis">
					<div class="half left">
						<div class="bits">32</div>
						<ul>
							{% for api in apis32e %}
							<li><input type="checkbox" value="{{ api }}" checked disabled><label>{{ api }}</label></li>
							{% endfor %}
						</ul>
					</div>
					<div class="half right">
						<div class="bits">64</div>
						<ul>
							{% for api in apis64e %}
							<li><input type="checkbox" value="{{ api }}" checked disabled><label>{{ api }}</label></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="container-title">自定义监控函数</div>
				<div class="clearfix apis">
					<div class="half left">
						<div class="bits">32</div>
						<ul>
							{% for api in apis32n %}
							<li><input type="checkbox" value="{{ api }}" class="arg-check"><label>{{ api }}</label></li>
							{% endfor %}
						</ul>
					</div>
					<div class="half right">
						<div class="bits">64</div>
						<ul>
							{% for api in apis64n %}
							<li><input type="checkbox" value="{{ api }}" class="arg-check"><label>{{ api }}</label></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% include "footer.html" %}
		</div>
	</div>

	<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
	<nav id="mm-menu" class="mm-menu">
	  <div class="mm-menu__header">
	    <h2 class="mm-menu__title">Insight</h2>
	  </div>
	  <ul class="mm-menu__items">
	    <li class="mm-menu__item">
	      <a class="mm-menu__link mm-menu__click" href="#">
	        <span class="mm-menu__link-text">头信息</span>
	      </a>
	    </li>
	    <li class="mm-menu__item">
	      <a class="mm-menu__link" href="#" >
	        <span class="mm-menu__link-text">区段信息</span>
	      </a>
	    </li>
	    <li class="mm-menu__item">
	      <a class="mm-menu__link" href="#">
	        <span class="mm-menu__link-text">程序头信息</span>
	      </a>
	    </li>
	    <li class="mm-menu__item">
	      <a class="mm-menu__link" href="#">
	        <span class="mm-menu__link-text">动态跟踪</span>
	      </a>
	    </li>
	    <li class="mm-menu__item">
	      <a class="mm-menu__link" href="#">
	        <span class="mm-menu__link-text">动态跟踪设定</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/amazeui.min.js"></script>
	<script src="static/js/production/materialMenu.js"></script>
	<script src="static/js/inf.js"></script>
</body>
</html>
